@import '../src/components/style/mixin.scss';
img {
  max-width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
}

header {
  padding-top: 30px;
  background-color: #E6F0FB;
}

.outer-container {
  background-color: #E6F0FB;
  /* height: 100vh; */
}

.section {
  /* padding: 5em 0; */
}

.pt{
  padding-top: 5em;
}
.pb{
  padding-bottom: 5em;
}

.section-title{
  text-align: center;
  margin: 2em 0 ;
}

@media (max-width : 576px) {
  header>div>div {
    justify-content: space-between;
  }
}


